@import url('https://fonts.googleapis.com/css2?family=Rubik+Beastly&family=Tilt+Prism&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Rubik Beastly', cursive;
font-family: 'Tilt Prism', cursive;
}